<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    {{!-- <input type=text id=order-amt value="{{order_id}}" hidden /><br /> --}}
    <input type=hidden id=rzp-text value="{{order_id}}" /><br />
    {{!-- <form id="checkout" action="#"> --}}
        {{!-- <input id="rzp-button1" class="btn btn-success mt-1" type="submit" value="Checkout" --}} {{!--
            style="margin-top: 17%;margin-left: 50%" /> --}}
        <form id="successredirect" action="http://{{hostname}}/api/RpaySuccess">
            <input id="success" class="btn btn-success mt-1" type="button" onclick="Listner()" value="Go Home"
                style="margin-top: 17%;margin-left: 50%;display:none" />
            <input id="orderid" name="orderid" type="hidden" value="{{order_id}}" />
            <input id="userid" name="userid" type="hidden" value="{{user_id}}" />
        </form>
        <form id="failredirect" action="http://{{hostname}}/api/RpayFailure">
            <input id="fail" class="btn btn-success mt-1" type="button" onclick="Listner()" value="Go Home"
                style="margin-top: 17%;margin-left: 50%;display:none" />
            <input id="orderid" name="orderid" type="hidden" value="{{order_id}}" />
            <input id="userid" name="userid" type="hidden" value="{{user_id}}" />
        </form>
        <input id="baseurl" value="{{hostname}}" type="hidden" value="{{order_id}}" />
        {{!-- <button id="rzp-button1" type="submit" hidden>Checkout</button> --}}
        {{!--
    </form> --}}
    <div id=paymentDetails></div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        //document.getElementById('rzp-button1').onclick = function (e) {
        window.onload = function (e) {
            var options = {
                "key": "rzp_test_zRSKZs40Ag7y9J",  //Enter your razorpay key
                "currency": "INR",
                "name": "Embassy-Olive",
                "description": "Embassy-olive",
                "image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
                "order_id": document.getElementById('rzp-text').value,
                "handler": function (response) {
                    var url = "http://" + document.getElementById('baseurl').value + "/api/verify";
                    var params = {
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_signature: response.razorpay_signature
                    };
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function (res) {
                        if (res.isTrusted) {
                            document.getElementById('success').style.display = 'block';
                            var isvisible = document.getElementById('success').style.display
                            document.getElementById('orderid').value = response.razorpay_order_id
                            if (isvisible == 'block') {
                                var button = document.getElementById('success');
                                button.form.submit();
                            }
                        }
                        else {
                            document.getElementById('fail').style.display = 'block';
                            var isvisible = document.getElementById('fail').style.display
                            if (isvisible == 'block') {
                                var button = document.getElementById('fail');
                                button.form.submit();
                            }
                        }
                    }
                    xmlHttp.open("POST", url, true); // false for synchronous request
                    xmlHttp.setRequestHeader("Content-type", "application/json");
                    xmlHttp.send(JSON.stringify(params));
                },
                "theme": {
                    "color": "#227254"
                }
            };
            console.log("options", options)
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }
        /*window.onload = function (e) {
            var button = document.getElementById('success');
            button.form.submit();
        }*/
        function Listner() {
            window.ReactNativeWebView.postMessage(
                JSON.stringify({
                    type: "success",
                    message: "Payment Successful"
                })
            );
        }
    </script>
</body>

</html>