<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>

<body style="text-align: center;">
    <div style="text-align: center;">
        <button>Go Home</button>
    </div>

</body>

</html>